<div  class="
          auth-wrapper
          d-flex
          no-block
          justify-content-center
          align-items-center
        " style="
          background: url(assets/images/L-D-Img.png)
            no-repeat center center;
          background-size: cover;
        ">
    <div class="auth-box on-sidebar p-4  m-0" style="background: #0E1827;">
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div>
                <div class="logo text-center">
                    <span class="db"><img src="assets/images/Sheffield%20Haworth__WO__WO.svg" alt="logo"></span>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-12"><div style="padding: 20px;">
                        <h3 style="color: #ffffff;    font-size: 22px; ">
                            Welcome to Sheffield Haworth Learning and Development
                        </h3>

                        <p class="login-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sagittis nec magna vel semper. Morbi finibus, ante sed auctor porttitor, ex nunc viverra nibh, eu pulvinar libero libero ut massa.</p>

                        <div class="login-ms">
                        <button class="block-button" (click)="navigate()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 27 27" style="">
                                <g id="microsoft" transform="translate(-4.5 -4.5)">
                                    <path id="Path_1" data-name="Path 1" d="M4.5,4.5h12v12H4.5Z" fill=""/>
                                    <path id="Path_2" data-name="Path 2" d="M4.5,19.5h12v12H4.5Z" fill=""/>
                                    <path id="Path_3" data-name="Path 3" d="M19.5,4.5h12v12h-12Z" fill=""/>
                                    <path id="Path_4" data-name="Path 4" d="M19.5,19.5h12v12h-12Z" fill=""/>
                                </g>
                            </svg>
                            Sign in with Microsoft Account
                        </button>

                        </div>

                    </div></div>
                </div>
            </div>
        </div>


    </div>
</div>
