<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


<div fxLayout="row" fxLayoutGap="16px">
    <!-- Left Side -->
    <div fxFlex="50%">
        <h3>Learning Resources</h3>
        <small class="ls-sm-3">Lorem ipsum dolor sit amet, consectetur adipiscing</small>
    </div>

    <!-- Right Side -->
    <div fxFlex="50%" fxLayoutAlign="end">
        <div class="search-container">
            <mat-form-field class="search-input"  >
                <input matInput placeholder="Search Courses"  >
                <button mat-icon-button matSuffix >
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="filter-container">
    <div class="filter-section">
        <div class="filter-item">
            <mat-checkbox color="accent" checked></mat-checkbox>
            <div>
                All Resources
            </div>
        </div>
        <div class="filter-item">
            <mat-checkbox></mat-checkbox>
            <div>
            Read
            </div>
        </div>
        <div class="filter-item">
            <mat-checkbox></mat-checkbox>
            <div>
                Watch
            </div>
        </div>
        <div class="filter-item">
            <mat-checkbox></mat-checkbox>
            <div>
                Listen
            </div>
        </div>
    </div>
    <div class="filter-section">
        <div class="text-filter">
            <p>Filter</p>
            <mat-icon style="position: relative;
    margin-top: -0.5rem;">filter_alt</mat-icon>

        </div>
    </div>
</div>



<div class="mt-5x">
    <app-learn-card></app-learn-card>

</div>
