.filter-container {
  display: flex;
  justify-content: space-between;
}

.filter-section {
  display: flex;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.filter-item mat-checkbox {
  margin-right: 10px;
}

.text-filter {
  display: flex;
  align-items: center;
}

.text-filter mat-icon {
  margin-right: 5px;
}



::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #27C3F3 !important; /* Replace with your desired color */
  border-color: #27C3F3 !important; /* Replace with your desired color */
}
