<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: #ffffff" > Loading... </p></ngx-spinner>


<div fxLayout="row" fxLayoutGap="16px">
    <!-- Left Side -->
    <div fxFlex="50%">
        <h3>Microsoft Office Skills Development</h3>
        <small class="ls-sm-3">Lorem ipsum dolor sit amet, consectetur adipiscing</small>
    </div>

    <!-- Right Side -->
    <div fxFlex="50%" fxLayoutAlign="end">
        <div class="search-container">
            <mat-form-field class="search-input"  >
                <input matInput placeholder="Search Courses"  >
                <button mat-icon-button matSuffix >
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>


<div class="mt-5x" >
    <app-skill-card  style="cursor: pointer;"></app-skill-card>

</div>
